* {
  margin: 0;
}

#logo {
  width: 100%;
  height: 120px;
  display: block;
  background-color: #fff9ee;
  position: relative;
  z-index: 2;
}

#img_inner {
  width: 65%;
  min-width: 832px;
  height:100%;
  display: inline-block;
  margin: 0 15% 0 10%;
  background-color: #fff9ee;
}
#offset {
  width: 6%; 
  min-width: 36px; 
  height: auto;
  display: inline-block;
  padding-bottom: 10px;
}
#flt {
  width: 55%;
  min-width: 330px;  
  height: auto;  
  display: inline-block;
}
/*nav*/
#nav {
  padding: 0px;
}
#nav li .nav-a:link, .nav-a:visited{
  color:black;
}

#nav li .nav-a:hover{
  color:darksalmon;
}

.gonav {
  overflow: visible;
  display: block;
  width: 550px;
  height: fit-content;
}

#nav li {
  display: inline-block;
  text-decoration: none;
  text-align: left;
  line-height: 20px;
  font-family: "メイリオ";
  font-size: 16px;
  padding: 0 10px;
  list-style: none;
}

#nav li .nav-a {
  display: block;
  text-decoration: none;
  text-align: left;
  overflow: visible;
}

/*our serivce content*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff9ee;
  font-family: "メイリオ";
  font-size: 16px;
  width: 200px;
  padding: 5px;
  z-index: 99999;
  overflow: visible !important;

}

.dropdown-content .item {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #fff9ee;
  color: #FF4040;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover {background-color: #fff9ee;}

/* Nav anime*/
.block {
  padding: .1em .4em;
}
.reveal {
  position: relative;
}
.reveal-inner {
  animation: lr-content 0s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.gonav::after{
  content: '';
  position: absolute;
  top:0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #FEF9EE;
  animation: lr-bar 1s linear both;
}
@keyframes lr-bar {
  0% { transform-origin: center left 0px; transform: scaleX(1); }
  36% { transform: scaleX(1); transform-origin: center left 0px; }
  54% { transform: scaleX(1); transform-origin: center right 0px; }
  90% { transform: scaleX(0);  transform-origin: center right 0px; }
  100% { transform: scaleX(0);  transform-origin: center right 0px; }
}
@keyframes lr-content {
  0% { opacity: 1; }
  100% { opacity: 1; }
}
/*toggle button*/
.dropbtnT {
  background-color: #e9806e;
  color: white;
  padding: 10px 16px;
  font-size: 16px;
  font-family: "メイリオ";
  border: none;
  cursor: pointer;
  border-radius: 10px 10px 10px 10px;
}

.dropbtnT:hover, .dropbtnT:focus {
  background-color: darksalmon;
}

.dropdownT {
  position: absolute;
  display: block;
  float:right;
  font: size 16px;
  font-family: "メイリオ";
  line-height: 20px;
  z-index: 99;
  right:150px;
  top:70px;
}

.dropdown-contentT {
  display: none;
  position: absolute;
  background-color: #e9806e;
  width: 100%;
  overflow: auto;
  
}

.dropdown-contentT a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 99;
}

.dropdown-contentT a:hover {background-color: darksalmon}

.show {
  display:block;
}

#toggle-arrow {
  width:12px; 
  height:7px;
  display: inline-block;
}
#whataspp-QR {
  width:50px;
  height:50px;
  position: absolute;
  right:275px;
  top:67px;
}
#fafacon, #fafacon2 {
  display: none;
}
/* for phones*/
#top-img {
display: none;
}

.menu-icon {
display: none;
float: right;
margin-right: 40px;
}
#for-no-hiding{
background-color: #FEF9EE;
}
.lang-switch a .opabox {
display: none;
}

#footer{
  position:relative;
  display:block;
  text-align: center;
  height: 100%;
  line-height: 70px;
  padding: 20px;
  background-color: #fff9ee;
  bottom: 0px;
  margin: 0 auto;
}
#copyright {
  color:#FF4040;
}

body {
  width: 1280px;
}


/*---BODY---*/
.wrapper {
  display: grid;
  grid-template: 100%/5fr 7fr;
  /*border:1px solid black;*/
  height:auto;
  width: 100%;
}

.box {
  padding: 15px;
  line-height: 1.4em;
  /*border: 1px solid black;*/
  text-align: left;
  display:flex;
  align-items: center;
  justify-content: center;

}

.a {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #fff9ee;
}
.b {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #F4C1B8;
}

.bg{
  background-image: url("../img/affilate.png");
  margin: 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.recruit {
  font-size: 35px;
  font-family: "メイリオ", Helvetica, "ms gothic", Arial, sans-serif;
  font-weight:700;
  text-align: left;
  padding-top: 20px;
}
.detail {
  font-size: 15px;
  font-family: "メイリオ", Arial, Helvetica, sans-serif;
}

.private {
  font-size: 10px;
  font-family: "メイリオ", Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 0 0;
  padding:0;
  
}
.whatsapp {
  margin: 0 0;
  font-family: "メイリオ", Arial, Helvetica, sans-serif;
}

.whatsapp a {
  color:black;
}

