* {
  margin: 0;
}

#logo {
  width: 100%;
  height: 120px;
  display: block;
  background-color: #fff9ee;
  position: relative;
  z-index: 2;
}

#img_inner {
  width: 65%;
  min-width: 832px;
  height:100%;
  display: inline-block;
  margin: 0 15% 0 10%;
  background-color: #fff9ee;
}
#offset {
  width: 6%; 
  min-width: 36px; 
  height: auto;
  display: inline-block;
  padding-bottom: 10px;
}
#flt {
  width: 55%;
  min-width: 330px;  
  height: auto;  
  display: inline-block;
}
/*nav*/
#nav {
  padding: 0px;
}
#nav li .nav-a:link, .nav-a:visited{
  color:black;
}

#nav li .nav-a:hover{
  color:darksalmon;
}

.gonav {
  overflow: visible;
  display: block;
  width: 550px;
  height: fit-content;
}

#nav li {
  display: inline-block;
  text-decoration: none;
  text-align: left;
  line-height: 20px;
  font-family: "メイリオ";
  font-size: 16px;
  padding: 0 10px;
  list-style: none;
}

#nav li .nav-a {
  display: block;
  text-decoration: none;
  text-align: left;
  overflow: visible;
}

/*our serivce content*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff9ee;
  font-family: "メイリオ";
  font-size: 16px;
  width: 200px;
  padding: 5px;
  z-index: 99999;
  overflow: visible !important;

}

.dropdown-content .item {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #fff9ee;
  color: #FF4040;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover {background-color: #fff9ee;}

/* Nav anime*/
.block {
  padding: .1em .4em;
}
.reveal {
  position: relative;
}
.reveal-inner {
  animation: lr-content 0s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.gonav::after{
  content: '';
  position: absolute;
  top:0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #FEF9EE;
  animation: lr-bar 1s linear both;
}
@keyframes lr-bar {
  0% { transform-origin: center left 0px; transform: scaleX(1); }
  36% { transform: scaleX(1); transform-origin: center left 0px; }
  54% { transform: scaleX(1); transform-origin: center right 0px; }
  90% { transform: scaleX(0);  transform-origin: center right 0px; }
  100% { transform: scaleX(0);  transform-origin: center right 0px; }
}
@keyframes lr-content {
  0% { opacity: 1; }
  100% { opacity: 1; }
}
/*toggle button*/
.dropbtnT {
  background-color: #e9806e;
  color: white;
  padding: 10px 16px;
  font-size: 16px;
  font-family: "メイリオ";
  border: none;
  cursor: pointer;
  border-radius: 10px 10px 10px 10px;
}

.dropbtnT:hover, .dropbtnT:focus {
  background-color: darksalmon;
}

.dropdownT {
  position: absolute;
  display: block;
  float:right;
  font: size 16px;
  font-family: "メイリオ";
  line-height: 20px;
  z-index: 99;
  right:150px;
  top:70px;
}

.dropdown-contentT {
  display: none;
  position: absolute;
  background-color: #e9806e;
  width: 100%;
  overflow: auto;
  
}

.dropdown-contentT a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 99;
}

.dropdown-contentT a:hover {background-color: darksalmon}

.show {
  display:block;
}

#toggle-arrow {
  width:12px; 
  height:7px;
  display: inline-block;
}
#whataspp-QR {
  width:50px;
  height:50px;
  position: absolute;
  right:275px;
  top:67px;
}
#fafacon, #fafacon2 {
  display: none;
}
 /* for phones*/
 #top-img {
  display: none;
}

.menu-icon {
  display: none;
  float: right;
  margin-right: 40px;
}
#for-no-hiding{
  background-color: #FEF9EE;
}
.lang-switch a .opabox {
  display: none;
}

#footer{
  position:relative;
  display:block;
  text-align: center;
  height: 100%;
  line-height: 70px;
  padding: 20px;
  background-color: #fff9ee;
  bottom: 0px;
  margin: 0 auto;
}
#copyright {
  color:#FF4040;
}

/*---BODY---*/
#bg {
  background-image: url("../img/service-bg.jpg");
  background-color: #ccc;
  margin: 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*position: relative;*/
  width:100%; 
  height:auto; 
  z-index: 0;
  display: block;
  object-fit: cover;
}

.logo {
  grid-area: logo;
}
#img-size {
  height: 190px;
  width: 190px;
  margin:auto;
  display: block;
}
.slideTopLogo {
	-webkit-animation: slide-top 1s linear forwards;
	        animation: slide-top 1s linear forwards;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
            opacity: 1;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
            opacity: 1;
  }
}
.content1, .content2, .content3, .content4 {
  width:25%;
  height:auto;
}
.icon {
  transition: 0.5s ease;
  /*backface-visibility: visible;*/
  border-radius: 10px;
}

.icon-size {
  /*opacity: 1;*/
  width:140px;
  height:120px;
  margin:auto;
  display: block;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #222;
}

.transp-box {
  width:140px;
  height:120px;
  border-radius: 10px;
  background-color: rgba(237, 100, 112, 0);
  
}

.just-be-fit:hover .transp-box{
  background-color: rgba(237, 100, 112, 0.3);
  width:140px;
  height:120px;
  border-radius: 10px;
}

.just-be-fit:hover .icon-size{
  opacity: 0.6;
  border-radius: 10px;
}

/*.icon2{
  width: 140px;
  height:120px;
  overflow: hidden;
  margin:auto;
  display: block;
}
.only-for-overflow {
  width: 140px;
  height:120px;
  overflow: hidden;
  margin:auto;
  display: block;
  border-radius: 10px;
}
.icon2:hover {
  transform: scale(1.5);
  transition: all 0.3s ease;
}

.icon2 {
	transition: all 0.15s ease;
}*/

.just-be-fit {
  display: block;
  width:140px;
  height:120px;
  margin:auto;
  border-radius: 10px;
}
.service{
  display:flex;
  justify-content:space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

/*.service-name,.service-intro {
  transform:translate(0, 50px);
}*/

.service-intro {
  overflow: wrap;
  text-align:center;
  font-size: 15px;
  font-family: "メイリオ", Helvetica, sans-serif;
  font-weight: 500;
  width: 75%;
  margin:auto;
  line-height: 2;
  flex:1 1 auto;
  padding-bottom: 30px;
}

.service-name {
  text-align:center;
  font-size: 18px;
  font-family: "メイリオ", Helvetica, sans-serif;
  font-weight: 500;
  flex:1 1 auto;
  margin: 30px 0px;
}

.grid-container{
  display: grid;
  grid-template-areas: 
    ".logo logo.";
    /*"content1 content2 content3 content4"
    "content1 content2 content3 content4";*/
  grid-column-gap: 50px;
}

.slide-right {
	-webkit-animation: slide-right 0.5s linear forwards;
	        animation: slide-right 0.5s linear forwards;
}
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.slide-left {
	-webkit-animation: slide-left 0.5s linear forwards;
	        animation: slide-left 0.5s linear forwards;
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

/*content anime*/
.slide-top {
	-webkit-animation: slide-top 1s linear forwards;
	        animation: slide-top 1s linear forwards;
          opacity: 0;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
            opacity: 1;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
  }
}

.slide-top2 {
	-webkit-animation: slide-top 1s linear 0.7s forwards;
	        animation: slide-top 1s linear 0.7s forwards;
          opacity: 0;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
            opacity: 1;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
  }
}


.slide-top3 {
	-webkit-animation: slide-top 1s linear 1s forwards;
	        animation: slide-top 1s linear 1s forwards;
          opacity: 0;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
            opacity: 1;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
  }
}


.slide-top4 {
	-webkit-animation: slide-top 1s linear 1.3s forwards;
	        animation: slide-top 1s linear 1.3s forwards;
          opacity: 0;
} 

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
            opacity: 1;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
  } 
}